/* App.css */

@font-face {
  font-family: "PoppinsRegular";
  src: url("/fonts/PoppinsRegular.ttf") format("truetype");

  font-family: "PoppinsSemiBold";
  src: url("/fonts/PoppinsSemiBold.ttf");
}

body {
  font-family: "Poppins", sans-serif !important;
}

p {
  margin: 0 !important;
}

.Stat {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
}

/* Hide the sidebar on screens smaller than 768px */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .rightSide {
    padding: 1.25rem !important;
  }
  .Stat {
    display: inline;
  }
  .bigText {
    font-size: 40px !important;
  }
  .smallNum {
    font-size: 22px !important;
  }
}
