/* App.css */

@font-face {
  font-family: "PoppinsRegular";
  src: url("/fonts/PoppinsRegular.ttf") format("truetype");

  font-family: "PoppinsSemiBold";
  src: url("/fonts/PoppinsSemiBold.ttf");
}

body {
  font-family: "PoppinsRegular", sans-serif !important;
}

/* Hide the sidebar on screens smaller than 768px */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .rightSide {
    padding: 1.25rem !important;
  }
}
